body {
  background-color: #7B7B7B;
}
.hidden {
  display: none;
  visibility: hidden;
}

.current {
  color: red;
}

#lyric { display: block; width: 100%; margin: 0 auto; padding: 50px 0 60px 0; font: normal 60px/80px Arial; color: #3B3B3B; text-align: center; background: url('../images/notes.png') 0 bottom repeat-x; }
#lyric .current { color: #50A2B3; border-bottom: 10px solid #50A2B3; }
#lyric .current.top { padding: 0 0 4px 0; }
#lyric .current.medium { padding: 0 0 24px 0; }
#lyric .current.low { padding: 0 0 44px 0; }

body .x-fullscreen { background-color: ; }


#counter { display: block; width: 1000px; margin: 0 auto; font: normal 500px Arial; color: #0095AC; text-align: center; }

/* 
  grey #2F2E2E 
  blue #0095AC 
*/
