/*
 * Original author: shakaman <mbenadon@af83.com>
 */

body {
    background: #E3E3E3 url('../images/logo.png') center bottom no-repeat;
}

#songs {
    width: 97%;
}
#songs ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 8px #999999;
    padding: 1em 1.5em;
    list-style-type: none;
}
#songs h3 {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    line-height: 1;
}
#songs h3 a {
    text-decoration: none;
    font: normal 20px Arial; color: #2F2E2E;
}
#songs h3 a:hover {
    font: bold 20px Arial; color: #50A2B3;
}

.item a {
    padding-left: 20px;
    text-decoration:none;
    background: url("../images/play.png") center left no-repeat;
    font: normal 20px Arial; color: #2F2E2E;
}
.item a:hover {
    font: bold 20px Arial; color: #50A2B3;
}
.item img {
    width: 30px; height: 30px; vertical-align: middle; margin-left: 15px;
    box-shadow: 2px 2px 2px rgba(47,46,46,0.5);
}
.item a:hover img.cover {
    z-index: 999;
    -webkit-transform: scale(2); -moz-transform: scale(2);
}

#lyric {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 60px 0;
    font: normal 60px/80px Arial;
    color: #3B3B3B;
    text-align: center;
    background: url('../images/notes.png') 0 bottom repeat-x;
}
#lyric .word { color: #2F2E2E; border-bottom: 5px solid #2F2E2E; }
#lyric .word.top { padding: 0 0 9px 0; }
#lyric .word.medium { padding: 0 0 27px 0; }
#lyric .word.low { padding: 0 0 47px 0; }
#lyric .word.current { color: #50A2B3; border-bottom: 10px solid #50A2B3; }
#lyric .word.current.top { padding: 0 0 4px 0; }
#lyric .word.current.medium { padding: 0 0 24px 0; }
#lyric .word.current.low { padding: 0 0 44px 0; }

.fullscreen {
    background: url('../images/logo.png') center bottom no-repeat,
    url('../images/sings.png') right bottom no-repeat;
    display:block;
    /*set the div in the top-left corner of the screen*/
    position:absolute;
    top:0;
    left:0;
    /*set the width and height to 100% of the screen*/
    width:100%;
    height:100%;
}

#countDown { background: url('../images/counter.gif') 0 0 no-repeat; }
#counter {
    display: block;
    width: 100%;
    height: 670px;
    margin: 0 auto;
    font: normal 500px Arial;
    color: #0095AC;
    text-align: center;
    background: url('../images/counter.gif') center -40px no-repeat;
}
#counter.countDown4 { background-position: center -808px; }
#counter.countDown3 { background-position: center -1576px; }
#counter.countDown2 { background-position: center -2344px; }
#counter.countDown1 { background-position: center -3112px; }

#song {
    width: 400px;
    margin: 50px auto 0 auto;
    padding: 10px 25px;
    border: 1px solid #2F2E2E;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 3px 3px 3px rgba(47,46,46,0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(47,46,46,0.5);
    -moz-box-shadow: 3px 3px 3px rgba(47,46,46,0.5);
}
#song h2 { text-align: center; }
#song h2 .artist { font: normal 20px Arial; color: #2F2E2E; }
#song h2 .title { font: bold 20px Arial; color: #50A2B3; }

#cover img {
    width: 100px;
    height: 100px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px rgba(47,46,46,0.5);
    -webkit-box-shadow: 2px 2px 2px rgba(47,46,46,0.5);
    -moz-box-shadow: 2px 2px 2px rgba(47,46,46,0.5);
}

#progressbar { margin: 20px 0px 0px 1px; width: 100%; height: 10px; }
.buttons { margin: 30px 0 0 0; text-align: center; }
.buttons #replay {
    display: block-inline;
    width: 30px;
    height: 30px;
    margin: 0 20px 0 0;
    border: none;
    text-indent: -3000px;
    background: url('../images/replay.gif') 0 0 no-repeat;
}
.buttons #acappella {
    display: block-inline;
    width: 30px;
    height: 30px;
    margin: 0 0 0 20px;
    border: none;
    text-indent: -3000px;
    background: url('../images/acappella_off.gif') 0 0 no-repeat;
}
.buttons #acappella.disabled {
    background: url('../images/acappella_on.gif') 0 0 no-repeat;
}

.button {
    color: #fff;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
.blue {
    background-color: #24364C;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%,
    color-stop(0%, #5A81AF), color-stop(2%, #304864),
    color-stop(100%, #192533)),
    -moz-gradient(linear, 50% 0%, 50% 100%,
    color-stop(0%, #5A81AF), color-stop(2%, #304864),
    color-stop(100%, #192533));
    background-image: linear-gradient(#5A81AF,#304864 2%,#192533);
}

.toolbar {
    background-color: #354F6E;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%,
    color-stop(0%, #7C9BC0), color-stop(2%, #416086),
    color-stop(100%, #293E56)), -moz-gradient(linear, 50% 0%, 50% 100%,
    color-stop(0%, #7C9BC0), color-stop(2%, #416086), color-stop(100%, #293E56));
    background-image: linear-gradient(#7C9BC0,#416086 2%,#293E56);
    border-color: black;
}

#loading {
    display:none; position:fixed; left:0; top:0; z-index: 1001;
    background-color: #fff;
    border: 2px solid black;
    padding: 10px;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}
#loading p {
    text-align: center;
}
